html {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

body {
  background-color: #EFEFEF;
  box-sizing: border-box;
}

header {
  background-color: #2B2B2B;
  height: 17vh;
}

nav {
  display: inline-block;
}

ul {
  display: block;
  margin: 80px 0;
  padding: 0;
}

li {
  display: inline;
  font-size: 1.5rem;
  line-height: 1.4;
  margin-left: 25px;
  vertical-align: bottom;
}

li img {
  margin-right: 10px;
  width: 20px;
}

h1 {
  color: #4D4D4D;
  display: block;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1275px;
}

article {
  background-color: #FFF;
  box-shadow: 3px 3px 5px 6px #AAA;
  height:460px;
  margin-bottom: 15px;
  width: 305px;
}

section p {
  display: inline-block;
}

a {
  color: #FFF;
  cursor: context-menu;
  text-decoration: none;
}

a:hover {
  color: #23b6fc;
}

.body__h1-pagename {
  font-size: 3.1rem;
  font-weight: 400;
  margin: 40px auto;
  max-width: 1275px;
  padding-left: 15px;
}

.main__article-genji {
  background-image: url(../images/genji.png);
  background-repeat:no-repeat;
  background-size: 100%;
}

.main__article-pharah {
  background-image: url(../images/pharah.png);
  background-repeat:no-repeat;
  background-size: 100%;
}

.main__article-rienhardt {
  background-image: url(../images/rienhardt.png);
  background-repeat:no-repeat;
  background-size: 100%;
}

.main__article-mercy {
  background-image: url(../images/mercy.png);
  background-repeat:no-repeat;
  background-size: 100%;
}

.main__article-mccree {
  background-image: url(../images/mccree.png);
  background-repeat:no-repeat;
  background-size: 100%;
}

.main__article-soldier {
  background-image: url(../images/soldier.png);
  background-repeat:no-repeat;
  background-size: 100%;
}

.main__article-junkrat {
  background-image: url(../images/junkrat.png);
  background-repeat:no-repeat;
  background-size: 100%;
}

.main__article-ana {
  background-image: url(../images/ana.png);
  background-repeat:no-repeat;
  background-size: 100%;
}

.article__header {
  background: none;
  display: inline-block;
  width: 100%;
}

.article__img-goto {
  cursor: alias;
  margin: 10px;
  width: 20%;
}

.article__p-wins {
  display: block;
  float: right;
  font-size: 1.5rem;
  margin: 10px 10px 0;
}

.article__p-winsnum {
  clear: right;
  color: #FFF;
  float: right;
  font-size: 4rem;
  margin: 0 10px;
}

.article__h2-heroname {
  color: #2B2B2B;
  font-size: 2rem;
  font-weight:400;
  margin: 10px 15px 0 ;

}

.article__p-lastplayed {
  color:#9CA0A0;
  margin: 0 0 0 15px;
}

.article__section-stats {
  background-color: #2B2B2B;
  height: 60px;
  margin: 25px auto 0;
  width: 85%;

}

.article__h2-highlights {
  margin: 0;
  padding: 6px 0 2px 5px;
}


.article__p-stat {
  color: #F9981F;
  font-weight: 400;
  margin: 4px 0 0 5px;
}

.article__p-statnumber {
  display: inline-block;
  margin: 2px 40px 0 18px
}

.article__p-statnumber2 {
  display: inline-block;
  margin: 2px 40px 0 35px
}

.article__p-time {
  color: #2B2B2B;
  display: inherit;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 30px 15px 0;
  
}
.article__p-hours {
  color: #2B2B2B;
  display: inherit;
  font-size: 1.6rem;
  margin: 5px 15px 0;

}
.article__p-rank {
  color: #2B2B2B;
  display: inherit;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 18px 15px 0;
}
.article__p-ranking {
  color: #23b6fc;
  display: inherit;
  font-size: 3rem;
  margin: 7px 15px;
}

.header__nav-admin {
  color: #23b6fc;
  display: block;
  float: right;
  font-size: 1.3rem;
  height: 0px;
  margin-right: 10px;
}

.nav__img-admin {
  width: 40px;
}

.nav__img-dropdown {
  margin-top: 7px;
  vertical-align: top;
  width: 20px;
}

.nav__p-admin {
  display: inline-block;
  vertical-align: top;
}

.header__logo {
  float: right;
  margin: 35px 20px;
  width: 120px;
}

@media screen and (max-width: 1275px) {
  main {
    max-width: 965px;
  }
}

@media screen and (max-width: 965px) {
  main {
    max-width: 640px;
  }
}

  @media screen and (max-width: 640px) {
  main {
    max-width: 640px;
  }

  ul {
    margin: 55px 0;
  }

  li {
    display: block;
    margin-left: 10px;
  }

}

